<div class="container-fluid bg-body py-4 mb-5 position-relative"
    style="margin-top: -3.5rem; padding-top: 5rem !important; padding-bottom: 5rem !important;">

    <div class="container position-relative z-3 mb-5">
        <div class="row px-0 g-2">
            <div class="col-12 col-md-6">
                <div class="card bg-dark text-white border-0" routerLink="{{'/book/' + headerList[0]._id}}"
                    routerLinkActive="active">
                    <img class="card-img object-fit-cover" src="{{headerList[0].images[0]}}" alt="Title">
                    <div class="card-shadow card-shadow-bottom card-shadow-o100"></div>
                    <div class="card-img-overlay">
                        <div class="h-100 d-flex flex-column justify-content-end">
                            <h5 class="card-title text-wrapped max-line-2">{{headerList[0].title}}</h5>
                            <p class="card-text text-wrapped max-line-2">{{headerList[0].overview}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card bg-dark text-white border-0" routerLink="{{'/book/' + headerList[1]._id}}"
                    routerLinkActive="active">
                    <img class="card-img object-fit-cover" src="{{headerList[1].images[0]}}" alt="Title">
                    <div class="card-shadow card-shadow-bottom card-shadow-o100"></div>
                    <div class="card-img-overlay">
                        <div class="h-100 d-flex flex-column justify-content-end">
                            <h5 class="card-title text-wrapped max-line-2">{{headerList[1].title}}</h5>
                            <p class="card-text text-wrapped max-line-2">{{headerList[1].overview}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card bg-dark text-white border-0" routerLink="{{'/book/' + headerList[2]._id}}"
                    routerLinkActive="active">
                    <img class="card-img object-fit-cover" src="{{headerList[2].images[0]}}" alt="Title">
                    <div class="card-shadow card-shadow-bottom card-shadow-o100"></div>
                    <div class="card-img-overlay">
                        <div class="h-100 d-flex flex-column justify-content-end">
                            <h5 class="card-title text-wrapped max-line-2">{{headerList[2].title}}</h5>
                            <p class="card-text text-wrapped max-line-2">{{headerList[2].overview}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card bg-dark text-white border-0" routerLink="{{'/book/' + headerList[3]._id}}"
                    routerLinkActive="active">
                    <img class="card-img object-fit-cover" src="{{headerList[3].images[0]}}" alt="Title">
                    <div class="card-shadow card-shadow-bottom card-shadow-o100"></div>
                    <div class="card-img-overlay">
                        <div class="h-100 d-flex flex-column justify-content-end">
                            <h5 class="card-title text-wrapped max-line-2">{{headerList[3].title}}</h5>
                            <p class="card-text text-wrapped max-line-2">{{headerList[3].overview}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card bg-dark text-white border-0" routerLink="{{'/book/' + headerList[4]._id}}"
                    routerLinkActive="active">
                    <img class="card-img object-fit-cover" src="{{headerList[4].images[0]}}" alt="Title">
                    <div class="card-shadow card-shadow-bottom card-shadow-o100"></div>
                    <div class="card-img-overlay">
                        <div class="h-100 d-flex flex-column justify-content-end">
                            <h5 class="card-title text-wrapped max-line-2">{{headerList[4].title}}</h5>
                            <p class="card-text text-wrapped max-line-2">{{headerList[4].overview}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container px-0 mb-5">
        <scroll-list title="Sách mới" [dataAsync]="bookList"></scroll-list>
    </div>

</div>